*{
    margin: 0;
    padding: 0;

}
a:hover{
        background: crimson;
        border-radius: 5px;
        color: white;

}
.background{
    background: url('/images/blury-back.jfif');
    background-size: cover;
    
}
.main-h1{
    color: black;
}
.main-h1:hover{
    color: rgb(167, 83, 83);
    cursor: pointer;
}
.img-main{
    align-items: right;
    justify-content: right;
    text-align: right;
    width: 750px;
    float: right;
    padding-bottom: 950px;

}

.page-footer-custom {
    background-color: #353535;
    color: #fff!important;
}